#one {
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
     */
     padding: 16px 20px 15px 10px;
     /* border-style: groove solid;
     border-width: 3px;
     border-color: aquamarine; */
     border: 3px solid aquamarine;
     margin: 20px;
}